PORT=8787
HOST=127.0.0.1

OPENCOREGOAL_RPC_URL=https://sepolia.base.org
OPENCOREGOAL_TRANSFER_ETH=0.00001

OPENCOREGOAL_TRADER_WALLET=opencoregoal-trader
OPENCOREGOAL_TRADER_ADDRESS=0x2fB7002cFBc38be9F1263628d7dA7D21674b8b47

OPENCOREGOAL_VAULT_WALLET=opencoregoal-vault
OPENCOREGOAL_VAULT_ADDRESS=0x1b014cc5327806f2D470012B7F4370Ddba9cD548
